body {
    background-color: grey;
}

h1 {
    text-align: center;
    color: lightgreen;
}

h3 {
    color:blue;
}

p {
    color: red;
}

#mainBody {
    border-width: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

.trueFibs {
    background-color: lightgrey;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    text-align: center;
}

#align {
    display: flex;
    justify-content: space-evenly;
}